*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5em;
    text-align: left;
    font-family: "Open-sans", "Source Sans Pro", Montserrat;
}

.navbar {
    opacity: 0.95;
    display: flex;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    min-height:15px !important;
}

img.logo {
    width: 200px;
    object-fit: contain;
}

ul li.nav-item a.nav-link {
    text-decoration: none;
    color: #00002B;
    font-size: 15px;
}

span {
    color: #C19A6B;
    float: right;
}

.header {
    padding-top: 8px;
    padding-bottom: 50px;
    margin-top: 8px;
}

.header img.female {
    width: 90%;
    height:400px;
    object-fit: contain;
}

a.btn {
    background-color: white;
    color: #00002B;
    border: 2px solid #00002B;
}

.btn:hover {
    color: #C19A6B;
}

.benefits {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
}
.benefits i.fas {
    font-size: 40px;
    color: #00002B;
}

.benefits p {
    color: #b3b3b3;
    font-size: 15px;
}

.about-us {
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 10px;
}

.about-us p {
    color: #b3b3b3;
}

.card {
    padding: 30px;
    max-width: 600px;
    margin: auto;
    background-color: #C19A6B;
    box-shadow: 0 5px 5px #909090;
    border-radius: 10px;
}

.questions {
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 10px;
}

.questions p {
    color: #b3b3b3;
}

footer {
    color: #b3b3b3;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 1px;
    margin-top: 10px;
    display: inline-block;
    height: auto;
}

a.top, ul li a {
    text-decoration: none;
    color: #b3b3b3;
}

a.top:hover, ul li a:hover{
    text-decoration: none;
    color: #b3b3b3;
}